@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    background-color: #252525;
    font-family: 'DM Sans', sans-serif;
    color: whitesmoke;
    text-align: center;
}

#inputBox {
    margin-bottom: 1rem;
    border: 1px solid black;
    background-color: white;
    border-radius: 1rem;
    color: black;
    text-align: center;
}

#checkBtn {
    border-radius: 1rem;
    background-color: white;
    color: black;
}

#outputBox {
    margin-top: 0.5rem;
    background-color: white;
    display: inline-block;
    color: black;
    border-radius: 1rem;
    padding: 3px;
}